* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

.title {
    text-align: center;
    margin-bottom: 20px;
}

.holom {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

img {
    width: 100%;
  max-width: 400px;
  aspect-ratio: 1 / 1;
  height: auto;
  display: block;
  margin: 20px;
}


button {
    margin-top: 20px;
    padding: 5px 25px;
    font-size: 15px;
    font-weight: 600;
    background-color: rgb(255, 52, 52);
    color: rgb(255, 236, 236);
}

.fofo {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    margin-top: 59px;
    margin-bottom: 10px;
}



@media (min-width: 320px) and (max-width: 480px) {
    h1 {
        text-align: center;
        margin-top: 30px;
    }
    
    .title {
        text-align: center;
        margin-bottom: 20px;
    }
    
    .holom {
        display: grid;
        
    }
    
    img {
        width: 100%;
      max-width: 320px;
      aspect-ratio: 1 / 1;
      height: auto;
      display: block;
      margin: 20px;
      text-align: center;
      justify-content: center;
      align-items: center;
    }
    
    
    button {
        margin-top: 20px;
        margin-bottom: 15px;
        padding: 5px 25px;
        font-size: 15px;
        font-weight: 600;
        background-color: rgb(255, 52, 52);
        color: rgb(255, 236, 236);
    }  
    .fofo {
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 10px;
    }
  }
  

  
  @media (min-width: 481px) and (max-width: 768px) {
    h1 {
        text-align: center;
        margin-top: 30px;
    }
    
    .title {
        text-align: center;
        margin-bottom: 20px;
    }
    
    .holom {
        display: grid;
        
    }
    
    img {
        width: 100%;
      max-width: 400px;
      aspect-ratio: 1 / 1;
      height: auto;
      display: block;
      margin: 20px;
      text-align: center;
      justify-content: center;
      align-items: center;
    }
    
    
    button {
        margin-top: 20px;
        margin-bottom: 15px;
        padding: 5px 25px;
        font-size: 15px;
        font-weight: 600;
        background-color: rgb(255, 52, 52);
        color: rgb(255, 236, 236);
    }
  }
  

  @media (min-width: 768px) and (max-width: 1024px) {
    img {
        width: 100%;
      max-width: 230px;
      aspect-ratio: 1 / 1;
      height: auto;
      display: block;
      margin: 20px;
    }

    .h22, .h33, .h44 {
        font-size: 12px;
    }

    button {
        margin-top: 13px;
        padding: 1px 10px;
        font-size: 12px;
        font-weight: 600;
        background-color: rgb(255, 52, 52);
        color: rgb(255, 236, 236);
    }
    .fofo {
        font-size: 13px;
        font-weight: 600;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 10px;
    }
    
  }






  
  @media (min-width: 1024px) and (max-width: 1200px) {
    img {
        width: 100%;
      max-width: 300px;
      aspect-ratio: 1 / 1;
      height: auto;
      display: block;
      margin: 20px;
    }

    .h22, .h33, .h44 {
        font-size: 15px;
    }

    button {
        margin-top: 18px;
        padding: 3px 20px;
        font-size: 14px;
        font-weight: 600;
        background-color: rgb(255, 52, 52);
        color: rgb(255, 236, 236);
    }
    
  }
  